/ddcmdUtil/src/*.o
/deps
/ecg.data
/*.core
.nfs*
/ecg
/ecg.mfem.FiberQuat.gf*
/refined.mesh
/slab.vtk*
/sol.gf*
/slab.FiberQuat.gf*
/slab.Vm.gf*
/slab.ground.set*
ex1*.cpp
*~
*ground.set
sol.vtk
makefile.mikel
