.depend_*
MYBGBKC_*.h
OHaraRudy*_*.h
RTYSC14A_*.h
null_*.h
objs-*

#ddcmd files?
GridAssignmentObject.c
GridAssignmentObject.h
codata.h
ddcMalloc.c
ddcMalloc.h
ddcMath.h
error.c
error.h
external.h
hardwareInfo.c
hardwareInfo.h
heap.c
heap.h
intQueue.c
intQueue.h
ioUtils.c
ioUtils.h
lessThan.c
lessThan.h
match.c
match.h
mpiUtils.c
mpiUtils.h
object.c
object.h
pio.c
pio.h
pioFixedRecordHelper.c
pioFixedRecordHelper.h
pioHelper.c
pioHelper.h
pioVariableRecordHelper.c
pioVariableRecordHelper.h
tagServer.c
tagServer.h
three_algebra.c
three_algebra.h
units.c
units.h
utilities.c
utilities.h

